@import 'reset';
@import '../fonts/icomoon/style.css';
@import 'tiny-loader';
@import 'promise-button';

$bgcolor: hsla(196,5%,30%,1); 

body {
	background: $bgcolor;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#content {
	height: 100vh;
	& > div {
		position: relative;
		top: 50vh;
		transform: translateY(-50%);
		text-align: center;
	}
	.status {
		padding: 2rem;
	}
}
